<header id="header">
    <div class="logo">
        <ul class="actions" style="position: absolute; left:auto;">
            <li><a href="/" class="button icon fa-chevron-left" style="background-color: unset; display:{{ display }};"><span class="label">Go back</span></a></li>
        </ul>
        <a href="/" style="padding-left: 4rem;">{{ title }}<span> - {{ name }}</span></a>
    </div>
    <a href="#menu"><span>Menu</span></a>
</header>